body{
    background-color: rgb(194, 224, 250);
    
}
.container-header{
    display: flex;
    flex-direction: column;
}
.block{
    justify-content: center;

}
.portada{
    width: 100%;
    
}

h1{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.barra{
    position: relative;
    bottom: 185px;
}

.logo{
    height: 200px;
    position: sticky;
    left:100em; 
    bottom:45em; 
    
}
h2, h3, p{
    text-align: center;

}
.subtitulo{
    font-size: 35px;
}
nav a{
    padding: 4px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -2px;
    transition: 700ms ease;
    margin-bottom: 0.8rem;
    color: rgb(255, 255, 255);
    background-color: rgba(1, 0, 37, 0.877);
    border-radius: 5px;
    text-decoration:none;
    
}
nav a:hover{
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
}
.sitio{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
main{
    display: flex;
    justify-content: center;

}

section{
    
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    background-color: rgb(1, 0, 37);
    color:aliceblue;
}
@media (max-width: 1250px) {
    section{
        bottom: 150px;
    }
}
p > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
li > span{
    font-weight: bold;
}
p > span{
    font-weight: bold;
}
table{
    width: 100%;
}
.container-maps{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.maps > h4{
    text-align: center;
}
input{
    margin-top: 10px;
}
#street{
    width: 77%;
}
#city{
    width: 46%;
}
.radio-gender{
    display: inline;
    margin-left: 100px;
}
.radio-grade{
    display: inline;
}
form > h3, form > p{
    text-align: start;
}
.container-form{
    display: flex;
    flex-direction: column;
    width: 600px;
}
button{
    background-color: rgba(1, 0, 37, 0.877);
    color: white;
    border-radius: 5px;
    height: 30px;
}